
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Montserrat-Medium", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$txt-color: #F5F5F5;
$txt-color-dark: #494949;
$txt-color-gray: #E5E5E5;
$txt-color-dark-gray:#696969;
$btn-color-blue: #2196F3;;

