.popular-ways-section {
    overflow: hidden;
    h1 {
        font-family: "Montserrat-ExtraBold", sans-serif;
        color: $btn-color-blue;
        text-align: center;
        margin-bottom: 17px;
    }

    h4 {
        color: $txt-color-dark-gray;
        text-align: center;
        font-family: "Montserrat-Bold", sans-serif;
    }

    .popular-ways-wrap, .popular-ways-wrap-2 {
        //display: flex;

        &.owl-carousel {
            .owl-stage-outer {
                overflow: inherit !important;
            }

            .owl-stage {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                height: 500px;
            }
            .owl-item {
                //width: 264px !important;
                //margin: 0  15px;

                &.center {
                    .popular-ways-item {
                        height: 396px !important;
                        width: 300px !important;
                        .btn-blue {
                            display: flex !important;
                            min-width: 100%;
                        }

                        .item-title {
                            font-size: 18px !important;
                        }
                        .sub-title-block {
                            max-height: 100%;
                        }

                        //.item-descr {
                        //    display: block !important;
                        //}
                    }
                }
            }
        }
        .popular-ways-wrap-2 {

            .popular-ways-item:hover {
                .sub-title-block {
                    max-height: 100%;
                }
            }
        }

        //.slick-track {
        //  align-items: center !important;
        //    height: 400px;
        //}

        .popular-ways-item {
            outline: none !important;
            width: 264px !important;
            height: 315px;
            margin: 0 17px;
            border-radius: 20px;
            background-size: cover;
            display: flex;
            padding: 20px;
            flex-direction: column;
            justify-content: flex-end;
            transition: height .5s ease-in-out;
            position: relative;
            bottom: 0;
            overflow: hidden;

            img {
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                z-index: -1;
            }

            .item-title {
                color: $txt-color;
                letter-spacing: 0.1em;
                line-height: normal;
                margin-top: 15px;
                font-size: 16px;
                text-align: center;
            }

            .btn-blue {
                display: none;
                margin: 0 auto;
                color: $txt-color;
            }

            .item-descr {
                //display: none;
                text-align: center;
                color: $txt-color-gray;
                letter-spacing: 0.05em;
                line-height: 20px;
                font-size: 14px;
            }
            .sub-title-block {
                max-height: 0;
                overflow: hidden;
                position: relative;
                bottom: 0;
                //transition: max-height 1.5s ease-in-out;
            }
        }

    }

}

//.popular-ways-wrap {
//    .slick-center {
//        height: 396px !important;
//        width: 300px !important;
//        .btn-blue {
//            display: flex !important;
//            min-width: 100%;
//        }
//
//        .item-title {
//            font-size: 18px !important;
//        }
//
//        .item-descr {
//            display: block !important;
//        }
//    }
//}

//@media (min-width: 1400px) {
//    .popular-ways-wrap {
//        .slick-center {
//            width: 450px !important;
//        }
//    }
//}

.pop-ways-nav {
    position: relative;
    margin: 50px 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    #customNav {
        .owl-prev, .owl-next {
            -webkit-appearance: none;
            -moz-appearance: none;
            background: transparent;
            border: none;
            &:focus {
                outline: none;
            }
        }
    }

    .left-line {
        width: 270px;
        height: 1px;
        opacity: 0.1;
        position: absolute;
        background: $txt-color-dark;
        left: 13%;
    }

    .right-line {
        width: 270px;
        height: 1px;
        opacity: 0.1;
        position: absolute;
        background: $txt-color-dark;
        right: 13%;
    }

    .r-arrow-pop {
        margin-right: 14px;
        cursor: pointer;
    }

    .l-arrow-pop {
        margin-left: 14px;
        cursor: pointer;
    }

    @media (max-width: 991px) {
        .right-line, .left-line {
            display: none;
        }
    }

    @media (max-width: 767px) {
        margin: 50px 0 70px;

        .owl-prev {
            padding: 0;
            margin-right: 14px;
        }

        .owl-next {
            padding: 0;
            margin-left: 0;
        }

    }

}

@media (min-width: 1024px) {
    .popular-ways-wrap {
        margin: 100px -17px 50px;

        .slick-list {
            padding: 0 15% 0 15% !important;
        }
    }

    .slick-track {
        display: flex;
        align-items: flex-end;
    }
}

@media (max-width: 768px) {
    .popular-ways-section {
        .popular-ways-wrap {
            margin-top: -50px;
            .slick-track {
                align-items: center !important;
                height: auto;
            }
            .popular-ways-item {
                margin: 0 5px !important;
                .item-descr {
                    display: block;
                }
                .btn-blue {
                    display: flex;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .popular-ways-section .popular-ways-wrap.owl-carousel .owl-item.center .popular-ways-item, .popular-ways-section .popular-ways-wrap-2.owl-carousel .owl-item.center .popular-ways-item {
        height: 315px !important;
        margin: 0 auto !important;
        transition: none !important;
        will-change: contents;

    }
    .popular-ways-section .popular-ways-wrap .popular-ways-item .sub-title-block, .popular-ways-section .popular-ways-wrap-2 .popular-ways-item .sub-title-block
    {
        max-height: 100%;
    }
    .review-cards-wrap {
        .slick-slide {
            margin: 0 5px;
        }
    }
}
